.h11  {
    background-color:#FF4500 ;
    text-align: center; }

    p {
        color:#800000 ;
        font-family: 'Times New Roman';
       }

       h3 {color: chocolate;}

      .u { text-align: center }

      body {
        margin: 25px ;
      }

     <style>
     table, th, td {
        border: 1px solid black;
      text-align: center;}

     table {margin: auto;}

     table, th{color: red;}

     table , td {color: purple;}
    </style>
    
    

